<nav class="bg-neutral-950 fixed w-full z-20 top-0 start-0 border-b border-neutral-800">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 relative">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img loading="lazy" src="./logo-removedbg.png" class="h-15" alt="Flowbite Logo" />
      <span class="self-center text-xl font-bold whitespace-nowrap text-yellow-500"> LUXA </span>
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        @if (isLoggedIn() === false) {
          <div>
            <a routerLink="/register">
              <i class="fa-solid fa-arrow-right-to-bracket text-yellow-500"></i>
            </a>
          </div>

          <div
            class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
            id="user-dropdown"
          >
            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
              @if (isLoggedIn() === true) {
                <li>
                  <a
                    routerLink="/profile"
                    routerLinkActive="activeLink"
                    class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                    >حسابي</a
                  >
                </li>
              }
              <li class="flex items-center justify-between relative">
                <a
                  routerLink="/cart"
                  routerLinkActive="activeLink"
                  class="inline-flex items-center p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >قائمة المشتريات</a
                >
              </li>

              <li>
                <a
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-red-800 cursor-pointer rounded"
                  (click)="signOut()"
                  >تسجيل خروج</a
                >
              </li>
            </ul>
          </div>

          <button
            data-collapse-toggle="navbar-user"
            type="button"
            class="inline-flex cursor-pointer items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
            aria-controls="navbar-user"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M5 7h14M5 12h14M5 17h14"
              />
            </svg>
          </button>
        } @else {
          <button
            type="button"
            class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary cursor-pointer"
            id="user-menu-button"
            aria-expanded="false"
            data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom"
          >
            <span class="sr-only">Open user menu</span>
            <img
              loading="lazy"
              class="w-8 h-8 rounded-full"
              src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
              alt="user photo"
            />
          </button>
          <div
            class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
            id="user-dropdown"
          >
            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
              @if (isLoggedIn() === true) {
                <li>
                  <a
                    routerLink="/profile"
                    routerLinkActive="activeLink"
                    class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                    >حسابي</a
                  >
                </li>
              }
              <li class="flex items-center justify-between relative">
                <a
                  routerLink="/cart"
                  routerLinkActive="activeLink"
                  class="inline-flex w-full items-center p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >قائمة المشتريات</a
                >
                @if (countCart() > 0) {
                  <div
                    class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-white bg-blue-600 rounded-full"
                  >
                    {{ countCart() || 0 }}
                  </div>
                }
              </li>

              <li>
                <a
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-red-800 cursor-pointer rounded"
                  (click)="signOut()"
                  >تسجيل خروج</a
                >
              </li>
            </ul>
          </div>
          <button
            data-collapse-toggle="navbar-user"
            id="navbar-user"
            type="button"
            class="inline-flex cursor-pointer items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
            aria-controls="navbar-user"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M5 7h14M5 12h14M5 17h14"
              />
            </svg>
          </button>
        }
      </div>
    </div>

    <div class="w-full md:flex md:w-auto md:order-1" [class.hidden]="!isMenuOpen" id="navbar-links">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 md:mt-0 border border-neutral-800 rounded-lg bg-neutral-900 md:flex-row md:space-x-1 md:border-0 md:bg-transparent rtl:space-x-reverse"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="activeLink"
            aria-current="page"
            class="block py-2 px-3 rounded-md text-neutral-300 md:bg-transparent md:p-2 md:hover:text-yellow-400 transition-colors duration-150"
          >
            الرئيسية
          </a>
        </li>

        <li>
          <a
            routerLink="/about"
            routerLinkActive="activeLink"
            class="block py-2 px-3 rounded-md text-neutral-300 hover:bg-neutral-800 hover:text-yellow-400 md:hover:bg-transparent md:p-2 transition-colors duration-150"
          >
            عنLUXA
          </a>
        </li>
        <li>
          <a
            routerLink="/mobiles"
            routerLinkActive="activeLink"
            class="block py-2 px-3 rounded-md text-neutral-300 hover:bg-neutral-800 hover:text-yellow-400 md:hover:bg-transparent md:p-2 transition-colors duration-150"
          >
            متجرنا
          </a>
        </li>
        <li>
          <a
            routerLink="/search-mobiles"
            routerLinkActive="activeLink"
            class="block py-2 px-3 rounded-md text-neutral-300 hover:bg-neutral-800 hover:text-yellow-400 md:hover:bg-transparent md:p-2 transition-colors duration-150"
          >
            بحث عن هاتف
          </a>
        </li>
        <li>
          <a
            routerLink="/contact-us"
            routerLinkActive="activeLink"
            class="block py-2 px-3 rounded-md text-neutral-300 hover:bg-neutral-800 hover:text-yellow-400 md:hover:bg-transparent md:p-2 transition-colors duration-150"
          >
            تواصل معنا
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
