<section class="bg-yellow-500 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-background-dark text-right">
      <div class="flex items-center gap-4 justify-center md:justify-start">
        <span class="material-symbols-outlined text-4xl"
          ><i class="fa-solid fa-money-bills"></i
        ></span>
        <div>
          <h4 class="leading-none font-semibold">الدفع عند الاستلام</h4>
          <p class="text-sm font-medium opacity-80 mt-3">كاش عند باب بيتك</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4 justify-center md:justify-center border-y md:border-y-0 md:border-x 10 py-4 md:py-0"
      >
        <span class="material-symbols-outlined text-4xl"
          ><i class="fa-solid fa-clipboard-check"></i
        ></span>
        <div>
          <h4 class="leading-none font-semibold">الفحص قبل الدفع</h4>
          <p class="text-sm font-medium opacity-80 mt-3">تأكد من المنتج قبل دفع أي مليم</p>
        </div>
      </div>
      <div class="flex items-center gap-4 justify-center md:justify-end">
        <span class="material-symbols-outlined text-4xl"
          ><i class="fa-solid fa-certificate"></i
        ></span>
        <div>
          <h4 class="leading-none font-semibold">ضمان معتمد</h4>
          <p class="text-sm font-medium opacity-80 mt-3">تغطية محلية كاملة</p>
        </div>
      </div>
    </div>
  </div>
</section>
